.videoplayer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #f9f9f9;
  padding: 20px 2% 20px 2%;
}

/*  RESPONSIVENESS FOR MEDIUM AND SMALL DEVICES */

@media (max-width: 900px) {
  .videoplayer {
    padding-right: 5%;
    padding-left: 5%;
  }
}
