.container {
  padding: 20px 2% 20px 7%;
  background: #f9f9f9;
}

/*  RESPONSIVENESS FOR MEDIUM AND SMALL DEVICES */

@media (max-width: 900px) {
  .container {
    padding-right: 5%;
    padding-left: 5%;
  }
}
