nav {
  padding: 10px 2%;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav__left .menu__icon {
  width: 22px;
  margin-right: 25px;
}

.logo {
  width: 130px;
}

.nav__middle .search__box {
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-right: 15px;
  padding: 8px 12px;
}

.nav__middle .mic {
  width: 25px;
}

.nav__middle .mic img {
  width: 100%;
}

.nav__middle .search__box input {
  border: 0;
  outline: none;
  background: transparent;
  width: 400px;
}

.nav__middle .search__box img {
  width: 15px;
}

.nav__right img {
  width: 25px;
  margin-right: 25px;
}

.nav__right .profile__icon {
  border-radius: 50%;
  width: 30px;
}

/*  RESPONSIVENESS FOR MEDIUM AND SMALL DEVICES */

@media (max-width: 900px) {
  .menu__icon {
    display: none;
  }

  .nav__right img {
    display: none;
  }

  .nav__right .profile__icon {
    display: block;
    width: 30px;
  }

  .logo {
    width: 120px;
  }

  .nav__middle .search__box input {
    width: 100px;
  }
}

@media (max-width: 414px) {
  .nav__middle .search__box {
    margin-right: 30px;
    display: flex;
  }

  .nav__middle .search__box img {
    width: 13px;
  }

  .nav__middle .mic {
    width: 22px;
    margin-left: -20px;
  }

  .nav__right .profile__icon {
    width: 30px;
    margin-right: -2px;
  }
}
